body{
	background-color: #97C0E6;
	margin: 0;
}

div{
	width: 17px;
	height: 17px;
	background-color: #C8E665;
	border: solid 3px #D3E697;
	border-radius: 2px;

	position: absolute;
	top: 0;
	left: 0;

	transition: all .1s;
}